/* Styles for the home (search) page live here. */
.card {
  margin-bottom: 7%;
}

/* @LeanKhan */
#hero {
  background-image: url('https://res.cloudinary.com/leankhan/image/upload/v1572775964/itarj/hero_image.jpg');
  background-position: 50% 0;
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.6);
  min-height: 600px;
  height: calc(100vh - 47.275px);
  background-size: cover;
  background-repeat: no-repeat;
}


#hero .container, #hero .hero-container {
  height: 100%;
}

.search-invites-btn {
height: 100%;
}

/* ------------- */

.search-summary {
  max-width: 700px;
  margin: auto;
}

#how-it-works .card.point {
  background: #e6e6e6;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    display: block;
}

.footer {
  margin-top: 0px !important;
}

.usage-stats {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  width: 100vw;
}

.ribbon {
  text-align: center;
  padding: 2rem 1.5rem;
  font-size: 20px;
  background-color:#e6e6e6;
  position: relative;
  font-weight: 500;
  color: #1f232c;
}

.ribbon div {
  display: inline;
}

.ribbon-small {
  text-align: center;
  padding: 30px 0px;
  font-size: 20px;
  background-color: #1f232c;
  color: #f4f4f4;
}

.navbar {
margin-bottom: 0px;
};

.usage-stats__wrapper {
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: scroll; /*Fallback if auto is unsupported*/
  overflow-x: auto;
  padding: 15px;
}

.stat-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  margin: 20px 30px;
  background-color: #24659E; /*Fallback for browsers without support for --vars*/
  background-color: var(--dark-blue, #24659E); /*var(--color-variable, fallback value);*/
  color: white;
}

.stat-card.scroll-padding {
  opacity: 0;
  display: none;
  padding: 0px;
}

@media screen and (max-width: 650px) {
  /*.usage-stats {
    justify-content: flex-start;
  }*/

  .stat-card.scroll-padding {
    display: flex;
  }
}

#hero small.text-muted-white {
  font-size: 14px;
  font-weight: 400;
}

.text-muted-white {
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 900px) {
  .heading {
    font-size: 38px !important;
  }
  .sub-heading {
    font-size: 17px;
    font-weight: 500;
  }
  #hero small.text-muted-white {
    font-size: 15px;
  }
}

.stat-card__figure {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

.stat-card__label {
  display: block;
  font-weight: normal;
}

.usage-stats__cta { /*cta in the class name is short for Call To Action.*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin: 20px;
}

.usage-stats__cta__link {
  display: block;
  height: initial;
  font-weight: bold;
}

.usage-stats__cta__reason {
  display: block;
  color: black;
}
