/* notificaion */

.notification {
  font-size: 0.7em;
  padding: 10px;
  background-color: #888888;
  color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  transform: translateX(-200px);
  transition: transform .5s;
}

.notification.show {
  transform: translateX(0px);
}


/* preloader */

#cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #30303162;
  z-index: 9999;
  font-size: 65px;
  text-align: center;
  padding-top: 200px;
  color: #fff;
  font-family: tahoma;
  display: none;
}

.loader {
  border: 6px solid #f3f3f3;
  /* Light grey */
  border-top: 6px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  animation: spin 2s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
