/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	background-color: #fff;
	color:#000;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}
/* NAV BAR */
.nav-link{
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
}
.nav-item{
	margin-right: 50px;
}
.navbar-brand{
	font-weight: 600;
	font-size: 32px;
	line-height: 38px;
}
.navbar{
	background-color: #3087D1;
}
/* NEW POST PAGE */
.new_post_heading{
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	line-height: 47px;
	color: #636b6f;
	margin-bottom: 5%;
	margin-top: 2%;
}
.post-form{
	margin:  auto;
}
.form-control{
	border-color: #000;
}
.cancel-button{
	color: red;
}
.post-btn{
	width: 206px;
	height:60px;
	border-radius: 6px;
}
/* ADMIN DASHBOARD */
.admin-dashboard{
	padding: 3% 3.5%;
}
.ad-main-text{
	font-weight: 600;
	font-size: 40px;
	color: #636B6F;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
 background-color: #3087D1;
}
.tab-content{
	margin: 0 50px 0 120px;

}
.user-avatar{
	width: 102px;
	height: 102px;
	border-radius: 50px;
	margin-right: 10px;
	float: left;
}
.user-info{
	color: #000000;
}
.user-name{
	font-size: 24px;
}
.user-handle{
	font-size: 16px;
}
.tab-content{
	background-color: #E3E9EF;
	padding: 20px;
	border-radius: 10px;
}
