/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.go_back{
    color: black;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.go_back:hover{
    color: #aaa;
    text-decoration: none;
}
.default-text{
    font-size: 200px;
    font-weight: 600;
}
/* NAV BAR */

.nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}

.nav-item {
  margin-right: 50px;
}

.navbar-brand {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}

.navbar {
  background-color: #3087D1;
}


/* NEW POST PAGE */

.new_post_heading {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  line-height: 47px;
  color: #636b6f;
  margin-bottom: 5%;
  margin-top: 2%;
}

.post-form {
  margin: auto;
}

.form-control {
  border-color: #000;
}

.cancel-button {
  color: red;
}

.post-btn {
  width: 206px;
  height: 60px;
  border-radius: 6px;
}


/* ADMIN DASHBOARD */

.admin-dashboard {
  padding: 3% 3.5%;
}

.ad-main-text {
  font-size: 30px;
  color: #636B6F;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #3087D1;
}

.btn-shift {
  height: 60px;
}

.user-avatar {
  width: 102px;
  height: 102px;
  border-radius: 50px;
  margin-right: 10px;
  float: left;
}

.fa-trash:hover {
  color: red;
}

.fa-edit:hover {
  color: green;
}

.user-info {
  color: #000000;
}

.user-name {
  font-size: 24px;
}

.user-handle {
  font-size: 16px;
}

.tab-content {
  margin: 0 50px 0 120px;
  background-color: #E3E9EF;
  padding: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 733px) {
  .admin-db-desktop {
    display: none;
  }
  .tab-content {
    margin-left: 0;
  }
}

@media screen and (min-width: 733px) {
  .admin-db-mobile {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  
}

@media screen and (max-width: 380px) {
  .nav-pills li {
    margin-right: 10px;
  }
}


/* Footer */

.footer {
  background-color: #24659e;
  color: #fff;
  padding: 8%;
  margin-top: 5%;
}

.subscribe {
  border-color: transparent !important;
  height: 100%;
  font-size: 70%;
}

.footer-heading {
    margin-bottom: 7%;
    margin-top: 10%;
}

.footer_email {
  color: #fff;
  font-weight: 600;
  line-height: 18px;
  font-size: 15px;
}
.footer_email:hover{
    color: #aaa; 
    text-decoration: none; 
}

.submit-div {
  margin-left: 0%;
}

.submit-div {
  font-size: 85%;
}

.footer_social {
  color: #fff;
  margin-left: 5%;
}

.footer_social:hover {
  color: #aaa;
}

.first-social {
  margin-left: 0%;
}


/* Invite us section */

[placeholder="Search a keyword or a sentence"] {
  height: 60px;
  margin-top: 20px;
  background: #ECECEC;
  border-radius: 6px;
  padding: 2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #ECECEC;
}

[value="Invite Search"] {
  width: 206px;
  height: 60px;
  background: #3087D1;
  border-radius: 6px;
  margin: 0.8rem auto;
}

.job-invites p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.job_invite_h4{
    width: 191px;
    height: 28px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

.job-invites span.dropdown-menu {
  left: -50px !important;
}


.job-invites div:nth-child(odd):not(.form-group) {
    background: #E3E9EF;
    padding: 20px;
    border-radius: 6px;

}

.job-invites div:nth-child(even) {
    padding: 20px;
    background: #FFFFFF;
    margin: 1em auto;
}
/* SIngle Post */
.post-container{
    box-sizing: border-box;
    text-overflow: scroll;
    height: auto !important;

}


.dropdown-toggle::after {
    content: none !important;
}

.post-body{
    margin-bottom: 15%;
}

.post-author {
  font-weight: bold;
}

.post-date{
    font-size: 12px;
    line-height: 14px;
}
.comment-btn{
    /* margin-top: 20px !important; */
}
