<% include partials/header %>
  <% include partials/nav %>

  <style>
      h4{
          font-size: 22px;
          line-height: 26px;
      }

      h6{
          font-size: 18px;
      }

      p{
          font-size: 16px;
          line-height: 28px;
      }
      
      .list >li{
          font-size: 16px;
          line-height: 32px;
      }
      .content{
          width: 90%;
          margin: auto;
      }
      .paras{
          padding : 10px;
      }
      @media screen and (max-width: 800px) {
        .content{
          width: 80%;
          margin: auto;
      }
      }
  </style>

  <div id="cover">
    <div class="loader"></div>
  </div>
        <div class="container-fluid text-left  content">
            <div class="row">
                <div class="col paras">
                    <h4 class="font-weight-bold ">About Us</h4>
    
                    <p>
                        We got tired of hearing reports of people being scammed,
                        or how they traveled far distance for a supposed interview which turned
                        out to be some GNLD trap or other weird Marketing crap.
                    </p>
                    <p>
                        This is why isthisarealjob.com was created, We will keep adding fake
                        and potential scam interview invites, so its easy for people to search and verify.
                    </p>
                    
                    <h6 class="font-weight-bold">How can i help?</h6>
                    <p class="mt-3">You can:</p>
        
                    <ol class="p-2 m-1 list">
                        <li>Share posts on social media to create more awareness</li>
                        <li>Join us to add more posts to the database</li>
                        <li>Help others verify their posts</li>
                    </ol>
                </div>
            </div>
        
        </div>  


<% include partials/footer %>