<% include partials/header %>
<% include partials/nav2 %>
<!-- Should be the original nav if unauthenticated -->
<div id="cover">
  <div class="loader"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="new_post_heading">
        Edit Post
      </h4>
    </div>
  </div>
  <div class="row">
    <div class=" post-form col-md-10">
      <form action="javascript:void(0);" class="edit-post">
        <input type="hidden" name="inviteId" value="<%= invite.inviteId %>">
        <div class="form-group">
          <input type="text" class="form-control" name="title" id="title" required placeholder="Title"
                 value="<%= invite.title %>">
        </div>
        <div class="form-group">
          <textarea class="form-control" id="body" name="body" rows="5" placeholder="Type Something..."
                    required><%= invite.body %></textarea>
        </div>
        <div class="text-right">
          <a href="/post/<%= invite.inviteId %>" class="btn btn-default cancel-button">Cancel</a>

          <button type="submit" class="btn btn-primary post-btn">Update</button>

        </div>
      </form>
    </div>
  </div>

</div>
<% include partials/footer %>