<% include partials/header %>
<% include partials/nav %>

<style>
  h4 {
    font-size: 22px;
    line-height: 26px;
  }

  .content p {
    text-align: justify;
  }

  p {
    font-size: 16px;
    line-height: 28px;
  }

</style>

<div id="cover">
  <div class="loader"></div>
</div>
<div class="container-fluid text-left p-3 content">
  <div class="col-6 offset-3 mt-4">
    <h4 class="font-weight-bold text-center">Forgot Password?</h4>

    <p class="text-center">
      Don't panic! We can help. Just enter the email address you signed up with in the space below and we will email you
      a password reset link.
    </p>
    <div class="resp"></div>
    <div class="input-group mt-5">
      <input type="email" class="form-control" placeholder="someone@example.com" aria-label="Email Address" id="emailField">
      <div class="input-group-append">
        <button class="btn btn-primary" id="forgotPasswordBtn" type="button">Submit</button>
      </div>
    </div>
  </div>

</div>


<% include partials/footer %>
