<% include partials/header %> <% include partials/nav %>

<div class="container">
  <div class="heading">
    <h2>How it Works</h2>
    <p>Learn more about our features</p>
  </div>
  <div class="cards ">
    <div class="card ">
      <div class="img">
        <img
          src="https://res.cloudinary.com/dthwqcdxe/image/upload/v1572454204/img1_ondlnv.png"
          alt="Search-image"
        />
      </div>
      <div class="content">
        <h3>Search</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In amet, dui
          nulla volutpat. Ornare non adipiscing neque nibh at iaculis pharetra
          quam posuere. Orci justo, sed sed etiam amet ut est dictum. Platea
          quam venenatis in id. Arcu
        </p>
      </div>
      <button>READ MORE</button>
    </div>
    <div class="card">
      <div class="img">
        <img
          src="https://res.cloudinary.com/dthwqcdxe/image/upload/v1572454204/img2_ngpflv.png"
          alt="Post-image"
        />
      </div>
      <div class="content">
        <h3>Post</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In amet, dui
          nulla volutpat. Ornare non adipiscing neque nibh at iaculis pharetra
          quam posuere. Orci justo, sed sed etiam amet ut est dictum. Platea
          quam venenatis in id. Arcu
        </p>
      </div>
      <button>READ MORE</button>
    </div>
    <div class="card">
      <div class="img">
        <img
          src="https://res.cloudinary.com/dthwqcdxe/image/upload/v1572454204/img3_sb8ffd.png"
          alt="verify-image"
        />
      </div>
      <div class="content">
        <h3>Verify</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In amet, dui
          nulla volutpat. Ornare non adipiscing neque nibh at iaculis pharetra
          quam posuere. Orci justo, sed sed etiam amet ut est dictum. Platea
          quam venenatis in id. Arcu
        </p>
      </div>
      <button>READ MORE</button>
    </div>
  </div>
</div>

<% include partials/footer %>
