<% include partials/header %>
<% include partials/nav %>

<style>
  .card {
    margin-bottom: 7%;
  }
  .search-summary {
    max-width: 700px;
  }
</style>

<div id="cover">
  <div class="loader"></div>
</div>

<div class="container">
<div class="row">
<div class="col text-center px-md-4 bottom-footer search-invites">
  <div class="mb-md-4 mt-md-3">
    <h1 class="heading">
      Scam or Real?
      <small class="heading__line2">
        Don’t go for that interview until you’re sure it’s real.
      </small>
    </h1>
    <br>
    <p class="search-summary">
      Did you get an email inviting you to an interview but you're not sure if it's legit? 
      Search here to find out.<br>
      Search with company name, or location. 
      All content is community generated, so if you don't find what you're looking for, 
      please go ahead and create a new post with your job invite 
      and other users will comment and vote on it.
    </p>
  </div>

  <div class="container search">
    <form action="/invites/search" method="GET">
      <input type="search" name="q" class="searchbar-1 form-control index-search"
            placeholder="Search a keyword or a sentence e.g 'Lagos'" required>
      <input type="submit" value="Search Job Invites" class=" btn btn-primary">
    </form>
  </div>
  <!---->
</div>
</div>
</div>

<section class="usage-stats">
  <div class="stat-card" title="Not really, the numbers are made up.">

  </div>
  <div class="stat-card" title="Not really, the numbers are made up.">

  </div>
  <div class="stat-card" title="Not really, the numbers are made up.">

  </div>
</section>

<% include partials/footer %>
