<% include partials/header %>
  <% include partials/nav %>
    <style>
      .card {
        margin-bottom: 7%;
      }
    </style>
    <div id="cover">
      <div class="loader"></div>
    </div>
    <div class="notification">
      Simple Notification
    </div>
    <div class="container">
      <div class="row">
        <div class="col text-center  ">
          <h1 class="page-desc">
            Scam or Real?
          </h1>
          <span class="under-text">Don’t go for that interview until you’re sure it’s real</span>
          <div class="container search">
            <form action="/api/v1/invites/search" method="GET">
              <input type="search" name="q" class="form-control index-search" placeholder="Search a keyword or a sentence">

              <input type="submit" value="Invite Search" class=" btn btn-primary">
          </div>
          </form>
        </div>

      </div>
    </div>
    </div>
    <!-- <section class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="image/blog_1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text blog-desc center">Landing your first job</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="image/blog_1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text blog-desc text-center">Landing your first job</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="image/blog_1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text blog-desc text-center">Landing your first job</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                    <div class="card">
                        <img src="image/blog_1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text blog-desc text-center">Landing your first job</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                        <div class="card">
                            <img src="image/blog_1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text blog-desc text-center">Landing your first job</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                            <div class="card">
                                <img src="image/blog_1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text blog-desc text-center">Landing your first job</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                                <div class="card">
                                    <img src="image/blog_1.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-text blog-desc text-center">Landing your first job</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                    <div class="card">
                        <img src="image/blog_1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text blog-desc text-center">Landing your first job</p>
                        </div>
                    </div>
                </div> 
        </div>
    </div>
</section> -->

    <% include partials/footer %>
