
<% include partials/header %>
<<<<<<< HEAD
<% include partials/nav %>
<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque a distinctio libero aperiam possimus quasi, culpa, quae omnis dolorum ipsa voluptate? Voluptatum assumenda fuga possimus cupiditate quae mollitia neque consequuntur.
</div>


<% include partials/footer %>
=======
  <% include partials/nav %>


    <% include partials/footer %>
>>>>>>> 41567c9894c91adfd95b0aa744c93431b86f5547
