
<% include partials/header %>
<% include partials/nav %>
<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque a distinctio libero aperiam possimus quasi, culpa, quae omnis dolorum ipsa voluptate? Voluptatum assumenda fuga possimus cupiditate quae mollitia neque consequuntur.
</div>


<% include partials/footer %>
