<% include partials/header %>
<% include partials/nav %>
<style>
    .card {
        margin-bottom: 7%;
    }
</style>

<div id="cover">
    <div class="loader"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col text-center p-0 px-md-4 bottom-footer">
            <div class="mb-md-4 mt-md-3">
                    <h1 class="page-desc">
                            Scam or Real?
                        </h1>
                        <span class="under-text">Don’t go for that interview until you’re sure it’s real</span>
            </div>
            <div class="container search">
                <form action="/invites/search" method="GET">
                    <input type="search" name="q" class="searchbar-1 form-control index-search"
                           placeholder="Search a keyword or a sentence e.g 'Lagos'">

                    <input type="submit" value="Search Job Invites" class=" btn btn-primary">
            </div>
            </form>
        </div>

    </div>
</div>
</div>
<!-- <section class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="image/blog_1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text blog-desc center">Landing your first job</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="image/blog_1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text blog-desc text-center">Landing your first job</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="image/blog_1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text blog-desc text-center">Landing your first job</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                    <div class="card">
                        <img src="image/blog_1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text blog-desc text-center">Landing your first job</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                        <div class="card">
                            <img src="image/blog_1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text blog-desc text-center">Landing your first job</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                            <div class="card">
                                <img src="image/blog_1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text blog-desc text-center">Landing your first job</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                                <div class="card">
                                    <img src="image/blog_1.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-text blog-desc text-center">Landing your first job</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                    <div class="card">
                        <img src="image/blog_1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text blog-desc text-center">Landing your first job</p>
                        </div>
                    </div>
                </div> 
        </div>
    </div>
</section> -->

<% include partials/footer %>