<% include partials/header %>


    <% include partials/footer %>
        <div class="container">
            <form>
                <div class="form-row">
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Search a keyword or a sentence">
                    </div>

                    <div class="col-md-4">
                        <input type="submit" value="Invite Search" class=" btn btn-primary">
                    </div>
                </div>
            </form>
        </div>

        <section>
            <div class="container">
                <h4> This is a test Post </h4>
                <p>@SammyJ</p>
                <p>The body of this test post: : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec lacus erat. Aliquam pulvinar mi quis lorem vulputate trist... Read more</p>
            </div>

            <div class="container">
                <h4> This is a test Post </h4>
                <p>@SammyJ</p>
                <p>The body of this test post: : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec lacus erat. Aliquam pulvinar mi quis lorem vulputate trist... Read more</p>
            </div>

            <div class="container">
                <h4> This is a test Post </h4>
                <p>@SammyJ</p>
                <p>The body of this test post: : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec lacus erat. Aliquam pulvinar mi quis lorem vulputate trist... Read more</p>
            </div>

            <div class="container">
                <h4> This is a test Post </h4>
                <p>@SammyJ</p>
                <p>The body of this test post: : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec lacus erat. Aliquam pulvinar mi quis lorem vulputate trist... Read more</p>
            </div>
        </section>