<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-mail Notification</title>
    <style>
    
.blue-container{
    background-color: rgb(124, 215, 245);
    width: 80%;
    display: inline-block;
    text-align: center;
    margin-left: 100px;
    
}
p{
    font-family: sans-serif;
    font-size: 20px;
    text-align: justify;
    margin-left: 2cm;
}
table{
    background-color: white;
    width:80%;
    margin-top: 2cm;
    margin-left: 3cm;
    padding: 20px;
}
h6{
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    margin-bottom: 1cm;
    margin-left: 2cm;
}

button{
    background-color: white;
    margin-top: 2cm;
    margin-bottom: 2cm;
    margin-right: 19cm;
    padding: 15px 25px;
    text-align: center;
   font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 2cm;
}
button:hover {
    background-color:rgb(112, 209, 241);
  }
  
    </style>
</head>
<body>
  
<div class="blue-container">
        <table style="width: 80%;">
                <th>You have a new Notification from</th>
                <th><a href="idex.js">Isitarealjob</a></th>
                
              
              </table>
<h6>User_Id</h6>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus ut tempora, 
    <Br>rerum amet tenetur cum consectetur rem est esse minima asperiores ullam at aliquid suscipit? 
    <br>Sequi natus id voluptatem amet.
    
            <br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            <br>Doloribus ut tempora, rerum amet tenetur cum consectetur rem est esse minima asperiores ullam at aliquid suscipit? 
            Sequi natus id voluptatem amet.
            </p>
     <br><a href="https/figma.com/notification" style="float: left; margin-left: 2cm;">https/figma.com/notification</a>

    
    
    
    
     <button type="submit">
         View Profile

     </button>
     <a href="#" style="float: inline-end; margin-right: 1cm; margin-top: 1cm;" > Unsubscribe Notification</a>
    </div>
</body>
</html>
