<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>* {margin: 0px; padding: 0px;}</style>
</head>

<body style="box-sizing:border-box; min-width:350px; max-width:768px; padding:0px; margin:0px; font-family:sans-serif;">
<div style="box-sizing:border-box; padding:0px; margin:0px; background-color:#3087D1; padding:20px; min-width:350px; max-width:768px; margin:0px;">
  <table style="box-sizing:border-box; padding:0px; margin:0px;  width:100%;">
    <thead style="box-sizing:border-box; padding:0px; width:100%; margin: 0px;"><tr><th style="box-sizing:border-box; background-color:white; padding:5%; margin:0px; ">
      <em style="box-sizing:border-box; display:inline-block; width:45%; padding:0px; text-align:left; font-weight:500; margin:0px;">
        You have a new Notification from
      </em>
      <strong style="box-sizing:border-box; display:inline-block; width:45%; padding-right:5%; text-align:right; margin:0px;">
        <a style="box-sizing:border-box; color:black; padding:0px; margin:0px; text-decoration: none;"
           href="http://itarj.com">
          IsThisARealJob
        </a>
      </strong>
    </th></tr></thead>

    <tbody style="box-sizing:border-box; padding:0px; text-align: center; color:white;">
    <tr><td style="box-sizing:border-box; text-align:left; padding-left: 20px;">
      <h6 style="box-sizing:border-box; margin-top:20px; font-size:18px; line-height:1.5em;">
        Hello <%=target.name%>,
      </h6>
      <span style="padding-left: 15px; display: inline-block;">
        <%=title%> 
        <br />
        <br />
        <%=details%>
      </span>
    </td></tr>

    <tr><td>
      &nbsp;
      <br>
      &nbsp;
    </td></tr>

    <tr><td style="text-align:center; box-sizing:border-box;">
      <a style="background-color:white; color:black; padding:15px 25px; font-size:16px; cursor:pointer; border-radius:5px; text-decoration: none;"
         href="http://itarj.com/login">
        Open App
      </a>
    </td></tr>

    <!--tr><td style="text-align:center;">
      <a href="#" style="float: inline-end; margin-right: 1cm; margin-top: 1cm;">
        Unsubscribe Notification
      </a>
    </td></tr-->
    </tbody>
  </table>
</div>
</body>
</html>
