<% include partials/header %>
<% include partials/nav2 %>
<link rel="stylesheet" href="/css/reportUser.css" />

<div id="cover">
  <div class="loader"></div>
</div>

<div class="container mt-5">
  <form class="report-form" name="report-user">
    <input type="text" readonly disabled name="offenderId" value="<%= reportedUser.userId %>" hidden />
    <div class="row">
      <div class="col col-md-7 col-sm-12" style="margin: 0 auto;">
        <h4>Report User:</h4>
        <h6>Tell us more</h6>
        <% if(typeof reportedUser != 'undefined') { %>
        <div class=" form-group ">
          <input type="text" class="form-control" readonly disabled required placeholder="user_name"
            aria-label="user name" name="offender" value="<%= reportedUser.username %>" />
        </div>
        <% } else { %>
        <div class=" form-group ">
          <input type="text" class="form-control" required placeholder="user_name" aria-label="user name"
            name="offender" />
        </div>
        <% } %>
        <div class=" form-group ">
          <input type="text" class="form-control" placeholder="Offence" aria-label="Offence" name="offence" required />
        </div>
        <div class="form-group">
          <textarea class="form-control" id="body" name="details" rows="5"
            placeholder="Give further details. Include links to the offending posts or comments."
            aria-label="Give further details. Include links to the offending posts or comments." required></textarea>
        </div>
        <div class="text-left">
          <button id="report" type="submit" class="btn btn-primary">Report</button>
          <a href="/post" class="btn btn-danger">Cancel</a>
        </div>
      </div>

    </div>
  </form>

</div>

<div class="success-dialog is-hidden">
  <i class="fas fa-check-circle success-dialog__icon"></i>
  <span class=" success-dialog__message">Your report has been submitted.</span>
  <a href="/posts" class="btn btn-primary success-dialog__action">Back to Posts</a>
</div>

<script type="text/javascript" src="/reportUser.js"></script>
<% include partials/footer %>
