<% include partials/header %>
<% include partials/nav %>

<style>
  h4 {
    font-size: 22px;
    line-height: 26px;
  }

  .content p {
    text-align: justify;
  }

  p {
    font-size: 16px;
    line-height: 28px;
  }

  #rp-error {
    display: none;
    font-size: small;
  }

</style>

<div id="cover">
  <div class="loader"></div>
</div>
<div class="container-fluid text-left p-3 content">
  <div class="col-6 offset-3">
    <h4 class="font-weight-bold text-center">Reset Password</h4>

    <p class="text-center">
      You're just one step away from a brand new <em>unique</em> password!
    </p>

    <p class="text-center text-danger" id="rp-error"></p>

    <form class="mt-5 text-center">
      <div class="form-group">
        <input type="password" class="form-control" id="newPasswordField" placeholder="New Password">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="confirmPasswordField" placeholder="Confirm New Password">
      </div>
      <button type="button" id="changePasswordBtn" class="btn btn-primary mb-2">Change Password</button>
    </form>
  </div>

</div>


<% include partials/footer %>
