<% include partials/header %>
<%include partials/navbar %>
  <div class="container">
    <h4>ITARJ Terms of Use - November 16, 2019</h4><br><br>
      <h4>Terms</h4>
      <p>By accessing the website at https://itarj.com, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>
      <h4>Use Licence</h4>    
        <p>Permission is granted to temporarily download one copy of the materials (information or software) on ITARJ's website for personal, non-commercial transitory viewing only. Under this license <strong>you may:</strong></p>
          <ul>
            <li>Modify or copy the materials;</li>
            <li>Use the materials for any commercial purpose, or for any public display (commercial or non-commercial),</li>
          </ul>
        <p><strong>you may not:</strong></p>
        <ul>
          <li>Attempt to decompile or reverse engineer any software contained on ITARJ's website; or</li>
          <li>Remove any copyright or other proprietary notations from the materials;</li>
        </ul>
        <ul>
          <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by ITARJ at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed</li>
        </ul><br>
        <h4>Disclaimer</h4>
          <ol>
            <li>The materials on ITARJ's website are provided on an ‘as is’ basis. ITARJ makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
            <li>Further, ITARJ does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</li>
          </ol><br>
          <h4>Limitations</h4>
          <p>In no event shall ITARJ or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on ITARJ's website, even if ITARJ or a ITARJ authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
      </ul>  
  </div>
<section>
</section>


<% include partials/footer %>