<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col span-md-4 span-sm-12">
        <h6 class="footer-heading">Follow Us</h6>
        <div>
          <a class="footer_social first-social" href="#"><i class="fab fa-facebook-f"></i></i></a>
          <a class="footer_social" href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
          <a class="footer_social" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
          <a class="footer_social" href="#"><i class="fab fa-linkedin"></i></a>

        </div>


      </div>
      <div class="col span-md-4">
        <h6 class="footer-heading text-left">Contact Us</h6>
        <p><a href="mailto:info@isthisarealjob.ng" class="footer_email"> info@isthisarealjob.ng</a></p>

      </div>
      <div class="col span-md-4">
        <h6 class="footer-heading text-left">Sign Up for our Newsletter</h6>
        <div>

          <form class="form">
            <div class="row">
              <div class="col span-md-10">
                <div class="form-group subscribe_input">
                  <input type="email" class="form-control subscribe" id="title" placeholder="Email Address">
                </div>

              </div>
              <div class="col span-md-2 submit-div">
                <button type="submit" class="btn btn-primary mb-2 submit-div">Submit</button>

              </div>
            </div>

          </form>
        </div>

      </div>

    </div>

  </div>

</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/api-helper.js"></script>
<script type="text/javascript" src="/login.js"></script>
<script type="text/javascript" src="/signup.js"></script>
<script type="text/javascript" src="/comments-api.js"></script>
<script type="text/javascript" src="/updatePost.js"></script>
<script type="text/javascript" src="/invite.js"></script>

</body>

</html>
