<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col span-md-4 span-sm-12">
        <h6 class="footer-heading">Follow Us</h6>
        <div>
          <a class="footer_social first-social" href="#"><i class="fab fa-facebook-f"></i></i></a>
          <a class="footer_social" href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
          <a class="footer_social" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
          <a class="footer_social" href="#"><i class="fab fa-linkedin"></i></a>

        </div>


      </div>
      <div class="col span-md-4" style="text-align: right;">
        <h6 class="footer-heading">Contact Us</h6>
        <p><a href="mailto:info@isthisarealjob.ng" class="footer_email"> info@isthisarealjob.ng</a></p>
      </div>

    </div>

  </div>

</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/api-helper.js"></script>
<!-- signin has the notification component and preloader, let it maintain it's position here -->
<script type="text/javascript" src="/login.js"></script>
<script type="text/javascript" src="/signup.js"></script>
<script type="text/javascript" src="/comment.js"></script>
<script type="text/javascript" src="/updatePost.js"></script>
<script type="text/javascript" src="/invite.js"></script>
<script type="text/javascript" src="/blockUser.js"></script>
<script type="text/javascript" src="/deleteInvite.js"></script>
<script type="text/javascript" src="/userProfile.js"></script>
<script>
  // do not delete. This is used to make the footer stick to bottom on pages with little content
  // Until you have a better solution, do not rock the ship
  const footer = document.querySelector('.footer');
  if (document.querySelector('.bottom-footer')) {
    footer.style.position = 'absolute';
  } else {
    footer.style.position = 'relative';
  }
</script>
</body>

</html>
