<!DOCTYPE html>
<html lang="en">
  <!-- Header -->

  <head>
    <title>
        Is-This-A-Real-Job
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <!-- RALEWAY FONT -->
   <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,800&display=swap" rel="stylesheet"> 
    <!-- BOOTSRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
    <!-- CUSTOM STYLESHEET -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>
<body>

</body>