<style>
  .nav-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
  }

  .nav-btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
  }

  .nav-link:hover {
    color: rgba(0, 0, 0, .5) !important;
  }

  .nav-item {
    margin-top: 5px;
    margin-right: 50px;
  }

  input[type="search"]::placeholder {
    font-style: normal;
  }

  .navbar-brand {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #3087d1 !important;
  }

  .navbar {
    background-color: #fff;
    border-top-color: #73A9D9;
    border-top-style: solid;
    border-top-width: 3px;
    /* box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15); */
    /* Using Bootstrap shadow class */
  }

  li a {
    color: #3087d1;
  }

  .btn-primary {
    background: #3087d1;
  }

  nav.navbar.navbar-expand-lg.navbar-light {
    margin-bottom: 2em;
  }

  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
  }

  .post-btn {
    color: white;
    border-radius: 5px;
  }

  .nav-link a.post-btn:hover {
    text-decoration: none;
    color: white;
  }

  .dropdown-menu {
    margin: 0;
    padding: 0;
    min-width: 0;
  }

  .dropdown-item {
    padding: 2px 10px;
    color: #73A9D9;
    font-size: 1rem;
  }

  .user-name-initials {
    font-size: 14px;
    font-weight: bold;
  }

  @media screen and (min-width: 900px) {
    .search-bar {
      width: 400px !important;
      border-radius: 5px;
    }
  }

  .search-bar {
    border-radius: 5px;
  }

  .form-inline .form-control {
    height: 36px;
    border-color: lightgray;
  }

  .notification-bar {
    position: relative;
  }

  .notification-icon {
    position: relative;
  }

  .badge {
    position: absolute;
    border-radius: 50px;
    bottom: 23px;
    left: 20px
  }

  .notification-menu {
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
    width: 300px;
    border-top: 2px solid #73A9D9;
    border-bottom: 2px solid #73A9D9;
    z-index: 2000;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #fff;
    position: absolute;
    transition: 2s ease-in-out;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .notification-title {
    margin-bottom: 0;
  }

  .notification-title a {
    /* font-size: 15px; */
    font-weight: bold;
    color: #24659e;
    text-decoration: none;
  }
  
  .notification-link:hover {
    text-decoration: none;
  }

  .notification-link:hover .notification-wrapper {
    background: #e7f0f8;
  }

  .notification-wrapper {
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .notification-image {
    margin: 0.5rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--light);
    object-fit: cover;
    object-position: center;
  }

  .notification-no-image {
    display: flex;
    width: 40px; height: 40px; margin-right: 0.5rem;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: #fff;
  }

  .badge {
    background-color: #ffd740;
    color: #fff;
  }

  @media screen and (max-width: 990px) {
    .badge {
      left: 10px;
    }
  }
</style>
<nav class="navbar navbar-expand-lg shadow-sm">
  <a class="navbar-brand " href="/">isthisarealjob</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <i class="fas fa-bars" style="color: #73A9D9; font-size:28px;"></i>

    </span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">


    <ul class="navbar-nav ml-auto">
      <form class="form-inline" action="/invites/search" method="GET">
        <input class="fa form-control mr-sm-4 search-bar" name="q" type="search" placeholder="&#xf002; Search"
               aria-label="Search">
      </form>
      <!-- NOTIFICATION NUMBER GOES HERE -->
      <% if(isAuth){ %>
      <li class="nav-item dropdown notification-bar">

        <a id="bell-icon" class="nav-link dropdown-toggle" style="padding-top: 3px;" href="javascript:void(0)"><i
             class="far fa-bell fa-2x notification-icon"></i><span class="badge">3</span></a>
        <div id="branded" class="notification-menu hide shadow">
          <!-- notification goes here -->
        </div>
      </li>

      <!-- USERNAME & LOG OUT GOES HERE  -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="user-name-initials">
            <%=name.substr(0, 2).toUpperCase()%>
          </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/users/<%=username%>">Profile</a>
          <a href="javascript:void(0)" id="logout" class="dropdown-item">Log Out</a>
        </div>

      </li>

      <% } else { %>
      <li class="nav-item mr-4">
        <a class="nav-link" href="/register">REGISTER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">LOG IN</a>
      </li>
      <% } %>


      <li class="nav-item">
        <a class="post-btn" href="/post"><button type="button" class="btn-primary nav-btn" style="padding: 10px;"> NEW
            POST</button></a>
        <% if(isAuth){ %>
        <a class="post-btn" href="/posts"><button type="button" class="btn-primary nav-btn" style="padding: 10px;">
            POSTS</button></a>
        <% } %>
        <% if (isAdmin) { %>
        <a class="post-btn" href="/admin"><button type="button" class="btn-primary nav-btn" style="padding: 10px;">
            ADMIN</button></a>
        <% } %>
      </li>

    </ul>

  </div>
</nav>
<div class="content-body">
  <!-- This div is closed in the footer.ejs file -->

  <div class="notification">
    Simple Notification
  </div>
  <script>

    var element = document.getElementById("bell-icon");
    element.addEventListener("click", () => {
      var clicked = document.getElementById("branded");
      clicked.classList.toggle('show');
    });

    var links = document.getElementsByClassName('notification-wrapper');

    function changeColor(e) {
      e.target.style.backgroundColor = e.target.style.backgroundColor ? null : 'white';
    }
    for (var i = 0; i < links.length; i++) {
      links[i].addEventListener('click', changeColor);
    }
  </script>
