<% include ../partials/header %>
    <% include ../partials/nav %>
        <style>
            .metrics .navigation {
                position: relative;
                margin-left: 45px;
                margin-right: 0;
            }
            
            .metrics [dashboard] {
                position: absolute;
                left: 64px;
                font-size: 32px;
                font-weight: normal;
            }
            
            .metrics .list>span:first-child {
                position: absolute;
                width: 85px;
                height: 38px;
                left: 70px;
                top: 60px;
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 38px;
            }
            
            .metrics .list>span:nth-child(2) {
                position: absolute;
                width: 112px;
                height: 38px;
                left: 70px;
                top: 110px;
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 38px;
                /* identical to box height */
                color: #000000;
            }
            
            .metrics .list>span:nth-child(3) {
                position: absolute;
                width: 116px;
                height: 38px;
                left: 70px;
                top: 160px;
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 38px;
                /* identical to box height */
                color: #000000;
            }
            
            .metrics .list>span:nth-child(4) {
                position: absolute;
                width: 108px;
                height: 38px;
                left: 70px;
                top: 210px;
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 38px;
                /* identical to box height */
                color: #3087D1;
            }
            
            .metrics span a {
                color: black;
            }
            
            .metrics span a:hover {
                text-decoration: none;
                color: blue !important;
            }
            
            .metrics .list {
                display: inline-block;
            }
            
            .metrics section {
                margin-left: 450px;
                margin-top: 30px;
            }
            
            .metrics .text-primary {
                padding-left: 68px;
            }
        </style>


        <body>
            <div class="metrics">
                <div class="navigation">
                    <h4 dashboard> Dashboard</h4>
                    <div class="list">
                        <span><a href="">Users</a></span>
                        <span><a href="">Admin</a></span>
                        <span><a href="">Reports</a></span>
                        <span><a href="" style="color: #3087D1;;">Matrics</a></span><br>

                    </div>


                </div>
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="shadow p-5 mb-5 bg-light rounded">
                                    <a href=""> <i class="fas fa-user-alt"></i></a>
                                    <div class="float-right">
                                        <p class="text-muted">No. of Users</p>
                                        <span class="text-primary">100+</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="shadow p-5 mb-5 bg-light rounded">
                                    <a href=""> <i class="far fa-comment"></i></a>
                                    <div class="float-right">
                                        <p class="text-muted">No. of Comments</p>
                                        <span class="text-primary" style="padding-left:120px;">100+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="shadow p-5 mb-5 bg-light rounded">
                                    <a href=""> <i class="far fa-comment-alt"></i></a>
                                    <div class="float-right">
                                        <p class="text-muted">No. of Posts</p>
                                        <span class="text-primary">100+</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div id="Comments">

                        </div>

                    </div>
            </div>
            </section>
        </body>

        <% include ../partials/footer %>