<% include ../partials/header %>
    <% include ../partials/nav %>
        <style>
            .metrics .navigation {
                position: relative;
                margin-left: 0px;
                margin-right: 0;
            }
            
            .metrics [dashboard] {
                position: absolute;
                left: 64px;
                font-size: 1.7rem;
                font-weight: normal;
                color: #636B6F;
            }
            
            .metrics .list>span:first-child {
                position: absolute;
                width: 85px;
                height: 38px;
                left: 64px;
                top: 42px;
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 38px;
            }
            
            .metrics .list>span:nth-child(2) {
                position: absolute;
                width: 112px;
                height: 38px;
                left: 64px;
                top: 82px;
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 38px;
                /* identical to box height */
            }
            
            .metrics .list>span:nth-child(3) {
                position: absolute;
                width: 116px;
                height: 38px;
                left: 64px;
                top: 122px;
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 38px;
                /* identical to box height */
            }
            
            .metrics .list>span:nth-child(4) {
                position: absolute;
                width: 108px;
                height: 38px;
                left: 64px;
                top: 162px;
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 38px;
                /* identical to box height */
                color: #3087D1;
            }
            
            .metrics span a {
                color: #007bff;
            }
            
            .metrics span a:hover {
                text-decoration: none;
                color: #0056b3;
            }
            
            .metrics section {
                margin-left: 250px;
                margin-top: 30px;
            }
            
            .metrics .text-primary {
                padding-left: 68px;
            }
            
            .shadow {
                padding: 60px !important;
            }
            
            @media screen and (min-width: 350px) and (max-width: 410px) {
                .metrics .navigation {
                    position: relative;
                    margin-left: 50px;
                    margin-right: 0;
                }
                .metrics [dashboard] {
                    position: absolute;
                    left: 64px;
                    font-size: 28px;
                    font-weight: normal;
                }
                .metrics .list>span:first-child {
                    position: absolute;
                    width: 85px;
                    height: 38px;
                    left: 90px;
                    top: 45px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 38px;
                }
                .metrics .list>span:nth-child(2) {
                    position: absolute;
                    width: 112px;
                    height: 38px;
                    left: 90px;
                    top: 95px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 38px;
                    /* identical to box height */
                    color: #000000;
                }
                .metrics .list>span:nth-child(3) {
                    position: absolute;
                    width: 116px;
                    height: 38px;
                    left: 90px;
                    top: 145px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 38px;
                    /* identical to box height */
                    color: #000000;
                }
                .metrics .list>span:nth-child(4) {
                    position: absolute;
                    width: 108px;
                    height: 38px;
                    left: 90px;
                    top: 195px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 38px;
                    /* identical to box height */
                    color: #3087D1;
                }
                .metrics section {
                    margin-left: 0px;
                    margin-top: 280px;
                    margin-bottom: 50px;
                }
            }
            
            @media screen and (min-width: 411px) and (max-width: 460px) {
                .metrics .navigation {
                    position: relative;
                    margin-left: 80px;
                    margin-right: 0;
                }
                .metrics [dashboard] {
                    position: absolute;
                    left: 64px;
                    font-size: 28px;
                    font-weight: normal;
                }
                .metrics .list>span:first-child {
                    position: absolute;
                    width: 85px;
                    height: 38px;
                    left: 90px;
                    top: 45px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 38px;
                }
                .metrics .list>span:nth-child(2) {
                    position: absolute;
                    width: 112px;
                    height: 38px;
                    left: 90px;
                    top: 95px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 38px;
                    /* identical to box height */
                    color: #000000;
                }
                .metrics .list>span:nth-child(3) {
                    position: absolute;
                    width: 116px;
                    height: 38px;
                    left: 90px;
                    top: 145px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 38px;
                    /* identical to box height */
                    color: #000000;
                }
                .metrics .list>span:nth-child(4) {
                    position: absolute;
                    width: 108px;
                    height: 38px;
                    left: 90px;
                    top: 195px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 38px;
                    /* identical to box height */
                    color: #3087D1;
                }
                .metrics section {
                    margin-left: 0px;
                    margin-top: 280px;
                    margin-bottom: 50px;
                }
            }
            
            @media screen and (min-width: 461px) and (max-width: 520px) {
                .metrics .navigation {
                    position: relative;
                    margin-left: 100px;
                    margin-right: 0;
                }
                .metrics [dashboard] {
                    position: absolute;
                    left: 64px;
                    font-size: 28px;
                    font-weight: normal;
                }
                .metrics .list>span:first-child {
                    position: absolute;
                    width: 85px;
                    height: 38px;
                    left: 90px;
                    top: 45px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 38px;
                }
                .metrics .list>span:nth-child(2) {
                    position: absolute;
                    width: 112px;
                    height: 38px;
                    left: 90px;
                    top: 95px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 38px;
                    /* identical to box height */
                    color: #000000;
                }
                .metrics .list>span:nth-child(3) {
                    position: absolute;
                    width: 116px;
                    height: 38px;
                    left: 90px;
                    top: 145px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 38px;
                    /* identical to box height */
                    color: #000000;
                }
                .metrics .list>span:nth-child(4) {
                    position: absolute;
                    width: 108px;
                    height: 38px;
                    left: 90px;
                    top: 195px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 38px;
                    /* identical to box height */
                    color: #3087D1;
                }
                .metrics section {
                    margin-left: 30px;
                    margin-top: 280px;
                    margin-bottom: 50px;
                    margin-right: 40px;
                    margin: 280px 40px 50px 30px;
                }
            }
            
            @media screen and (min-width: 521px) and (max-width: 570px) {
                .metrics .navigation {
                    position: relative;
                    margin-left: 120px;
                    margin-right: 0;
                }
                .metrics [dashboard] {
                    position: absolute;
                    left: 64px;
                    font-size: 28px;
                    font-weight: normal;
                }
                .metrics .list>span:first-child {
                    position: absolute;
                    width: 85px;
                    height: 38px;
                    left: 90px;
                    top: 45px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 38px;
                }
                .metrics .list>span:nth-child(2) {
                    position: absolute;
                    width: 112px;
                    height: 38px;
                    left: 90px;
                    top: 95px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 38px;
                    /* identical to box height */
                    color: #000000;
                }
                .metrics .list>span:nth-child(3) {
                    position: absolute;
                    width: 116px;
                    height: 38px;
                    left: 90px;
                    top: 145px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 38px;
                    /* identical to box height */
                    color: #000000;
                }
                .metrics .list>span:nth-child(4) {
                    position: absolute;
                    width: 108px;
                    height: 38px;
                    left: 90px;
                    top: 195px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 38px;
                    /* identical to box height */
                    color: #3087D1;
                }
                .metrics section {
                    margin: 260px 60px 50px 40px;
                }
            }
            
            @media screen and (min-width: 570px) and (max-width: 700px) {
                .metrics .navigation {
                    position: relative;
                    margin-left: 160px;
                    margin-right: 0;
                }
                .metrics [dashboard] {
                    position: absolute;
                    left: 64px;
                    font-size: 28px;
                    font-weight: normal;
                }
                .metrics .list>span:first-child {
                    position: absolute;
                    width: 85px;
                    height: 38px;
                    left: 90px;
                    top: 45px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 38px;
                }
                .metrics .list>span:nth-child(2) {
                    position: absolute;
                    width: 112px;
                    height: 38px;
                    left: 90px;
                    top: 95px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 22px;
                    line-height: 38px;
                    /* identical to box height */
                    color: #000000;
                }
                .metrics .list>span:nth-child(3) {
                    position: absolute;
                    width: 116px;
                    height: 38px;
                    left: 90px;
                    top: 145px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 38px;
                    /* identical to box height */
                    color: #000000;
                }
                .metrics .list>span:nth-child(4) {
                    position: absolute;
                    width: 108px;
                    height: 38px;
                    left: 90px;
                    top: 195px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 38px;
                    /* identical to box height */
                    color: #3087D1;
                }
                .metrics section {
                    margin: 280px 60px 50px 70px;
                }
            }
            
            @media screen and (min-width: 701px) and (max-width: 766px) {
                .metrics .navigation {
                    position: relative;
                    margin-left: 200px;
                    margin-right: 0;
                }
                .metrics [dashboard] {
                    position: absolute;
                    left: 64px;
                    font-size: 28px;
                    font-weight: normal;
                }
                .metrics .list>span:first-child {
                    position: absolute;
                    width: 85px;
                    height: 38px;
                    left: 90px;
                    top: 45px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 22px;
                    line-height: 38px;
                }
                .metrics .list>span:nth-child(2) {
                    position: absolute;
                    width: 112px;
                    height: 38px;
                    left: 90px;
                    top: 95px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 22px;
                    line-height: 38px;
                    /* identical to box height */
                    color: #000000;
                }
                .metrics .list>span:nth-child(3) {
                    position: absolute;
                    width: 116px;
                    height: 38px;
                    left: 90px;
                    top: 145px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 22px;
                    line-height: 38px;
                    /* identical to box height */
                    color: #000000;
                }
                .metrics .list>span:nth-child(4) {
                    position: absolute;
                    width: 108px;
                    height: 38px;
                    left: 90px;
                    top: 195px;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 22px;
                    line-height: 38px;
                    /* identical to box height */
                    color: #3087D1;
                }
                .metrics section {
                    margin: 280px 80px 50px 100px;
                }
            }
            
            @media screen and (min-width: 767px) and (max-width: 999px) {
                .metrics section {
                    margin: 24px -450px 50px 100px;
                }
            }
            
            @media screen and (min-width: 1000px) and (max-width: 1300px) {
                .metrics section {
                    margin: 24px -500px 50px 100px;
                }
            }
        </style>


        <body>
            <div class="metrics">
                <div class="navigation">
                    <h4 dashboard> Dashboard</h4>
                    <div class="list">
                        <span><a href="/admin/users">Users</a></span>
                        <span><a href="">Admin</a></span>
                        <span><a href="">Reports</a></span>
                        <span><a href="" style="color: #3087D1;">Metrics</a></span><br>

                    </div>


                </div>
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="shadow p-5 mb-5 bg-light rounded">
                                    <a href="/admin/users">
                                        <i class="fas fa-user-alt"></i>
                                        <div class="float-right">
                                            <p class="text-muted">No. of Users</p>

                                            <span class="text-primary">100+</span>
                                        </div>
                                    </a>

                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="shadow p-5 mb-5 bg-light rounded">
                                    <a href=""> <i class="far fa-comment"></i></a>
                                    <div class="float-right">
                                        <p class="text-muted">No. of Comments</p>
                                        <span class="text-primary" style="padding-left:120px;">100+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="shadow p-5 mb-5 bg-light rounded">
                                    <a href="/admin/posts">
                                        <i class="far fa-comment-alt"></i>
                                        <div class="float-right">
                                            <p class="text-muted">No. of Posts</p>
                                            <span class="text-primary">100+</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div id="Comments">

                        </div>

                    </div>
            </div>
            </section>
        </body>

        <% include ../partials/footer %>